<div class="app">
  <aside class="side">
    <div class="brand"><div class="logo">EV</div><div><b>Seguimiento y Alertas</b><br><span>Sede El Vergel</span></div></div>
    <nav class="menu">
      <a routerLink="/alertas" routerLinkActive="active">🚦 Alertas</a>
      <a routerLink="/profesores" routerLinkActive="active">👨‍🏫 Profesores</a>
      <a routerLink="/estudiantes" routerLinkActive="active">🎓 Estudiantes</a>
      <a routerLink="/acudientes" routerLinkActive="active">👪 Acudientes</a>
      <a routerLink="/grados" routerLinkActive="active">🏫 Grados</a>
      <a routerLink="/materias" routerLinkActive="active">📚 Materias</a>
      <a routerLink="/matriculas" routerLinkActive="active">📋 Matrículas</a>
      <a routerLink="/notas" routerLinkActive="active">📝 Notas</a>
      <a routerLink="/asistencias" routerLinkActive="active">📅 Asistencia</a>
    </nav>
    <div class="side-foot"><button class="btn-salir" (click)="auth.logout()">Salir</button></div>
  </aside>
  <main class="main"><router-outlet></router-outlet></main>
</div>
